html, body {
  height: 100%;   /* full page height */
  margin: 0;      /* remove default margin */
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
}
.box{
  width: 400px;
  height: 400px;
  border: 2px solid rgb(12, 70, 115);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(174, 234, 246);
}
.heading{
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 70px;
}
.fname, .sname, .mail, .num {
  font-size: medium;
}
.form label{
  width: 100px;
}
.button-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  /* justify-content: space-between; */
}
.cancel,
.submit{
  height: 40px;
  width: 75px;
  border-radius: 16px;
  border: 2px solid black;

}
.submit{
  background-color: rgb(29, 155, 246);
  font-size: large;
}
.submit:hover{
  background-color: rgb(142, 181, 243);
}
.cancel{
  background-color: rgb(237, 81, 14);
  font-size: large;
}
.cancel:hover{
  background-color: rgba(241, 103, 103, 0.776);
}