
.thumbnail{
  width: 100%;
}
.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
/* .video-preview{
  width: 300px;
  display: inline-block;  
  vertical-align: top;
  margin-left: 15px ;
} */
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 40px;
  border-radius: 45px;
}
.thumbnail-row{
  margin-bottom: 12px;
}
.video-author,
.vieo-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author{
  margin-bottom: 4px;
}